[defaults]
inventory  = hosts
host_key_checking = false
transport  = ssh

[ssh_connection]
pipelining = true
retries    = 5
ssh_args   = -o ControlMaster=auto -o ControlPersist=5m -o ConnectTimeout=60 -o ConnectionAttempts=20
